<h2 class="pageHeading">Ali</h2>
<div id="personProfilePage">
 <div id="profile">
	<%= render :partial => 'shared/photo', :locals => {:photo => @main_photo, :link_options => {:class => 'profilePhoto'}} %>
	<p class="emailme"><a href="mailto:trombone@actionhank.co.uk">Email Ali</a></p>
  <p>Hi, I'm Ali and i play the trombone, the band had to have me as apparantly i'm the only trombone player in Britain not already attached to a band! though i am teaching profile_link 'thom' to play the trombone and hope that it's not part of a plan to get rid of me one day, call it paranoia but after all my name isn't Matt or Saunders AND i'm a 'girl'. Which you could be forgiven for thinking is a requirement of being in Action Hank.</p>
  <p>In my bid to be a more fitting member of the band i'm going out with profile_link 'chris'; the only Saunders in the band who was still single, and who luckily was willing to help me out.</p>
  <p>I've played the trombone since the case was bigger than me and can also sort of play the piano but if you think I'm lugging one down to practice every week you're quite wrong.</p>
  <p>I work at <a href="http://www.whsmith.co.uk/" title="Visit the website of this venerable stationer">WHSmith</a> which is how i became a part of the band, and in my spare time i climb, which is something profile_link 'chris' got me into, so you can find us both most Monday evenings down at <a href="http://www.craggy-island.com/" title="Find out more">Craggy Island</a> doing a spot of climbing.</p>
 </div>
</div>