<h2 class="pageHeading">Chris</h2>
<div id="personProfilePage">
 <div id="profile">
	<%= render :partial => 'shared/photo', :locals => {:photo => @main_photo, :link_options => {:class => 'profilePhoto'}} %>
	<p class="emailme"><a href="mailto:clarinet@actionhank.co.uk">Email Chris</a></p>
  <p>I am the clarinet player, I play other instruments as well but suck least at the clarinet. I like the outdoors and hope to live there one day as long as nothing goes to plan ...</p>
  <p>I <a href="http://www.ukclimbing.com/">climb</a> things and often complain about how much my hands hurt afterwards. I work for a company called <a href="http://www.qed.co.uk/">QED Audio products</a> who make shiny, very shiny HiFi things. I did a degree in music technology and audio systems design at <a href="http://www.derby.ac.uk/">Derby University</a> and seem to have fallen in to the role of knob twiddler for the Hank. I am also a <a href="http://www.scoutbase.org/">Scout</a> leader and an enthusiastic amateur neurosurgeon...</p>
  <ul>
    <li><a href="http://www.qed.co.uk/">QED Audio products</a></li>
    <li><a href="http://www.derby.ac.uk/">Derby University</a></li>
    <li><a href="http://www.ukclimbing.com/">UK Climbing</a></li>
    <li><a href="http://www.scoutbase.org/">Scoutbase</a></li>
  </ul>
 </div>
</div>