<h2 class="pageHeading">Jon</h2>
<div id="personProfilePage">
 <div id="profile">
	<%= render :partial => 'shared/photo', :locals => {:photo => @main_photo, :link_options => {:class => 'profilePhoto'}} %>
	<p class="emailme"><a href="mailto:drums@actionhank.co.uk">Email Jon</a></p>
  <p>Hi, I'm Jon; I play the drums in Action Hank. I'll write more here soon.</p>
 </div>
</div>