<h2 class="pageHeading">Matt</h2>
<div id="personProfilePage">
 <div id="profile">
	<%= render :partial => 'shared/photo', :locals => {:photo => @main_photo, :link_options => {:class => 'profilePhoto'}} %>
	<p class="emailme"><a href="mailto:trumpet@actionhank.co.uk">Email Matt</a></p>
  <p>Matthew T. Rumpet is a part of Action Hank&#39;s energy core. He is capable of producing 1.21 gigawatts of trumpet-spinning, backing-singing, up-and-down-jumping power per hour.</p>
  <p>Matt has the finest tattoos in all of Action Hank. <a href="http://flickr.com/photos/actionhank/sets/72157600519311376/">Check them out!</a></p>
 </div>
</div>