<h2 class="pageHeading">Matt</h2>
<div id="personProfilePage">
 <div id="profile">
	<%= render :partial => 'shared/photo', :locals => {:photo => @main_photo, :link_options => {:class => 'profilePhoto'}} %>
	<p class="emailme"><a href="mailto:bass@actionhank.co.uk">Email Matt</a></p>
  <p>Hi, I'm Matt; I play the bass guitar in Action Hank. I'll write more here soon.</p>
	<p></p>
 </div>
</div>