<h2 class="pageHeading">Thom</h2>
<div id="personProfilePage">
 <div id="profile">
	<%= render :partial => 'shared/photo', :locals => {:photo => @main_photo, :link_options => {:class => 'profilePhoto'}} %>
	<p class="emailme"><a href="mailto:vocals@actionhank.co.uk">Email Thom</a></p>
  <p>hello folks!</p>
  <p>my name is thom and i am the &#8216;charismatic frontman&#8217; of action hank!</p>
  <p>you&#39;ll notice from my first statement there that i am very confident and sure of myself. i like to think  of it as charming, others as i understand it like to think of it as &#8216;smug&#8217; and &#8216;annoying&#8217;. well, what do they know. 
  <p>i haven't always been a front man, i cut my live music teeth as a bass player for both aberystwythian indie rock legends deflour and infinitely superior cardiff based ska fellows <a href="http://everything2.com/index.pl?node_id=1252446">the cheapskates</a>.</p>
  <p>i do lots of things in my spare time, a lot of them &#8216;virtually&#8217; (well, you would too if you lived in surrey&#39;s heroin capital like me.)</p>
  <p>Things that i do include <a href="/atb/html/">mountain boarding</a>, <a href="/divisionx/html/">parkour</a>, computer-game playing, reading and staring at girls.</p>
  <p>I work in london for sony computer entertainment europe in &#8216;development support&#8217; (games testing to you and i), but don&#39;t ask me what i&#39;m testing because i can&#39;t tell you. so nur.</p>
  <p>i love ska and swing, as well as punk and all sorts of other bits and pieces and i&#39;m learning the trombone!</p>
  <p>yay!</p>
 </div>
</div>