<h2 class="pageHeading">The actual songs</h2>
<hr />
<div id="songs">
	<h3 id="swingsandroundabouts">Swings And Roundabouts</h3>
	<p class="download"><a href="/mp3/swingsandroundabouts.mp3"><div><div><div>Download mp3</div></div></div></a></p>
	<p>Life moves pretty fast ... and it can get pretty good after a while. But what if you feel bad about stuff in the past? Or about <a href="http://www.mnftiu.cc/mnftiu.cc/fighting.063.html">being so lucky where others are not</a>? Or about writing songs about it all?</p>
	<hr />
	<h3 id="hyperlitical">Hyperlitical</h3>
	<p class="download"><a href="/mp3/hyperlitical.mp3"><div><div><div>Download mp3</div></div></div></a></p>
	<p>People who think they know what&#39;s best for others, though they haven&#39;t got their own lives sorted out yet, are among the least worthwhile people on the planet.</p>
	<p><em>Yes</em>, we are talking about Kitten from <a href="http://www.channel4.com/bigbrother/" title="Visit the official website of this popular psychology experiment">Big Brother</a> 5.</p>
	<p><em>No</em>, it is <em>not</em> about time we got over her, thank you very much for asking.</p>
	<hr />
	<h3 id="futuresofthepast">Futures Of The Past: On Using 20th Century Science Fiction As An Analogy For The Prevailing Social Climate</h3>
	<p><a href="http://paleo-future.blogspot.com/">Man, didn't the future used to be awesome?</a></p>
	<p><a href="http://www.bttf.com/">Several</a> <a href="http://www.kino.com/metropolis/">films</a> <a href="http://en.wikipedia.org/wiki/H._G._Wells">and stuff</a> are referenced in this song.</p>
	<hr />
	<h3 id="theactionskank">The Action Skank</h3>
	<p class="download"><a href="/mp3/theactionskank.mp3"><div><div><div>Download mp3</div></div></div></a></p>
	<p>A little bit Persian, a little bit swing. A little bit ska, a little bit rock.</p>
	<p>No words, just physical action.</p>
	<p>Our signature tune, man. <em>Classy</em>.</p>
	<hr />
	<h3 id="thecircussong">The Circus Song</h3>
	<p>Man, to hear some single men talk, you&#39;d think that bachelorhood was like a frikkin&#39; circus: a riot of colour and excitement, an unending whirl of exotic and surprising experiences.</p>
	<p>But in many ways, being a single man is more like a circus: frightening, unsafe, and ethically questionable; dung-smelling and threadbare; characterised by parading freaks and sweaty men with looming, painted-on grins.</p>
	<p>Or maybe it just seems that way in hindsight.</p>
	<hr />
	<h3 id="mambo">Why doesn&#39;t Batman <em>dance</em> any more?</h3>
	<p>This song will make you <a href="http://www.achewood.com/index.php?date=11182002">dance</a>, like a pair of magic shoes. You will <a href="http://www.achewood.com/index.php?date=03162004">dance till you cry</a>.</p>
	<hr />
	<h3 id="paperclip">Paperclip</h3>
	<p class="download"><a href="/mp3/paperclip.mp3"><div><div><div>Download mp3</div></div></div></a></p>
	<p>Yes, it looks like I&#39;m writing a letter. <a href="http://www.idleworm.com/tch/pclip.shtml">No, I don&#39;t want any help, thanks</a>. No, <em>actually</em> no.</p>
	<p><a href="http://www.microsoft.com/presspass/features/2001/apr01/04-11clippy.asp">No, damnit!</a></p>
	<hr />
	<h3 id="minniethemoocher">Minnie The Moocher</h3>
	<p class="download"><a href="/mp3/minniethemoocher.mp3"><div><div><div>Download mp3</div></div></div></a></p>
	<p>Ah, good old <a href="http://www.jass.com/Cab/cab.html" title="Go read about Cab">Cab Calloway</a>, with his reet-pleated zoot suit ... our version of this is sort of <a href="http://www.achewood.com/index.php?date=07062004" title="Meet Ray, the Godfather of Souls">gothic</a> most of the way through, with a frantic swingcore bit in the middle.</p>
</div>