<div class="photoset">
	<%= image_tag(@main_photo.source, :alt => @main_photo.title, :class => className) %>
	<button class="previous">prev</button>
	<a href="<%= @main_photo.url %>" title="See this photo on flickr"><%= image_tag('http://l.yimg.com/www.flickr.com/images/flickr_logo_gamma.gif.v1.5.10', :alt => 'flickr logo', :class => className) %></a>
	<button class="next">next</button>
</div>